<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">
</head>
<body>
    <section>
        <h1 class="h1">Documentação</h1>
        <hr class="line">
        <h3>
            Modulação das views e urls
        </h3>
        <p>
            Foram criados arquivos de views adicionais, cada arquivo de view tem seu respectivo arquivo de URL que foi incluso
            no arquivo de URL base
        </p>
        <div style="padding: 15px;">
            <pre>
                <code class="" data-lang="text">
                    <span class="">fabrica/</span>
                    <span>├── fabrica/</span>
                    <span>│   └── urls.py (URL base)</span>
                    <span>├── urls.py</span>
                    <span>├── urls_cadastro.py</span>
                    <span>├── urls_relatorios.py</span>
                    <span>├── urls_visualizacao.py</span>
                    <span>├── views.py</span>
                    <span>├── views_cadastro.py</span>
                    <span>├── views_relatorios.py</span>
                    <span>└── views_visualizacao.py</span>

                </code>
            </pre>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>