{% extends "base/master.html" %}

{% block title %}
    Formulário Extrusao
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Formulário Extrusao</strong>
            </div>
            <div class="card-body">
                <div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.operador.label_tag }} {{ form.operador }}<br>
                            {{ form.maquina_extrusao.label_tag }} {{ form.maquina_extrusao }}<br>
                            {{ form.produto_ingrediente.label_tag }} {{ form.produto_ingrediente }}<br>
                            {{ form.status.label_tag }} {{ form.status }}<br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}