{% extends "base/master.html" %}

{% block title %}Adicionar Produto{% endblock title %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Adicionar Produto</strong>
            </div>
            <div class="card-body">
                <div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <h3>Produto</h3>
                            {{ produto_form.tipo.label_tag }} : {{ produto_form.tipo }}
                            {{ produto_form.cor_produto.label_tag }}: {{ produto_form.cor_produto }}
                            {{ produto_form.acabamento_produto.label_tag }}: {{ produto_form.acabamento_produto }}
                            {{ produto_form.tratamento_produto.label_tag }}: {{ produto_form.tratamento_produto }}
                            {{ produto_form.material_produto.label_tag }}: {{ produto_form.material_produto }}
                            <input class="mt-3" type="submit" value="Enviar">
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}