<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <main>
        <section class="container">
            <h2 class="text-center">Ordens de Corte</h2>
            <table class="table">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Ordem</th>
                    <th scope="col">Cód. do produto</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Qtde.</th>
                    <th scope="col">U.M</th>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>x222</td>
                        <td>PI 00385</td>
                        <td>Bobina AD Leitosa</td>
                        <td>160</td>
                        <td>Kg</td>
                    </tr>
                </tbody>
            </table>
</body>
</html>