<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aniversário</title>
</head>
<body>
    <header>
        <center>
            <h1>
                Pool Party
            </h1>
            <h2>
                Da Natália
            </h2>
        </center>
    </header>
    <main>
        <ul>
            <li>
                Dia: 16/09/2023
            </li>
            <li>
                Hora: 20:00h
            </li>
            <li>
                Local: Yolo Beer Garden
            </li>
        </ul>
    </main>
    <footer>
        Vai ser top!
    </footer>
</body>
</html>