{% extends "base/master.html" %}

{% block title %}
    Ordens de servico
{% endblock %}

{% block content %}
<section class="col-12">
    <h1 class="card-title">Ordens de servico</h1>
    <table class="table table-secondary table-striped">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Cliente</th>
            <th scope="col">Data Criação</th>
            <th scope="col">Produto</th>
            <th scope="col">Observação</th>
        </tr>
        {% for ordem in ordens %}
        <tr>
            <td>{{ ordem.id }}</td>
            <td>{{ ordem.cliente }}</td>
            <td>{{ ordem.data_inicio }}</td>
            <td> 
            {% for produto in ordem.produtos.all %}
            <!-- Display fields from Produto -->
            {{ produto.tipo }}, {{ produto.cor_produto }}, {{ produto.acabamento_produto }}, {{ produto.tratamento_produto }}, {{ produto.material_produto }}<br>
            {% endfor %}
            </td>
            <td>{{ ordem.observacao }}</td>

        </tr>
        {% endfor %}
    </table>

</section>
{% endblock %}